@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(65, 65, 65);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: 0.3s ease-in-out;
}
.link:hover {
  cursor: pointer;
  letter-spacing: 2px;
}